@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;1,300;1,400&display=swap');

:root {
  --dark-colour: #535657;
  --medium-colour: #76797a;
  --accent-colour: #BDBDCD;
  --light-colour: #F8F9FA;
  --white-colour: #fff;
}

body, * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

body {
  background-color: var(--light-colour);
  background-color: #222;
}

/********************** SVG styles *************************/
svg {
  background-color: var(--light-colour);
  background-color: #222;
  position: relative;
}

text {
  font-family: 'Open Sans', sans-serif;
  fill: var(--medium-colour);
  font-size: 0.95rem;
}


/*************** Popup box with node info *****************/
.selected-node-info {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  padding: 20px;
  background-color: var(--white-colour);
  border-radius: 20px;
  box-shadow: 4px 4px 20px var(--accent-colour);
  text-align: center;
  opacity: 0;
  cursor: default;
  z-index: 2;
}

.selected-node-info.visible {
  opacity: 1;
}

.selected-node-info h3 {
  padding-bottom: 5px;
  border-bottom: 1px dotted var(--accent-colour);
  color: var(--dark-colour);
}

.selected-node-info p {
  text-align: left;
  margin-top: 15px;
  color: var(--medium-colour);
}

.selected-node-info button {
  border-radius: 5px;
  text-align: center;
  margin: auto;
  margin-top: 20px;
  outline: none;
  border: none;
  padding: 5px 10px;
  text-transform: uppercase;
  background-color: #448D9A;
  color: var(--white-colour);
  width: 100%;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
}

.selected-node-info button:hover {
  background-color: #5aacbb;
}

.selected-node-info button:active {
  background-color: #5aacbb;
  transform: scale(0.99);
}

/* Flexbox with the tags */
.selected-node-info__tags {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 20px;
}

.selected-node-info__tags div {
  margin: 5px 5px 5px 0;
  background-color: var(--accent-colour);
  padding: 2px 10px 3px 10px;
  font-size: 0.7rem;
  border-radius: 5px;
  color: var(--white-colour);
}

/*************** Temp notes box *****************/
.notes {
  position: absolute;
  top: 20px;
  left: 20px;
  background-color: var(--white-colour);
  padding: 20px;
  width: 300px;
  color: var(--medium-colour);
  font-size: 12px;
  border-radius: 10px;
}

.notes span {
  color: var(--dark-colour);
  font-weight: bold;
}

.graph-container {
  height: 700px;
  overflow-y: auto;
  background-color: red;
}